{% extends 'AppBundle:admin:layout.html.twig' %}
{% block content %}
			{% if app.session.flashbag.has('success') is not empty %}
				{% for flashMessage in app.session.flashbag.get('success') %}
					<h2>{{ flashMessage | raw }}</h2>
				{% endfor %}
			{% else %}
			<div class="row">
				{% form_theme form 'AppBundle:Form:layout.html.twig' %}
				<div class="panel panel-default">
					 <div class="panel-body">
						{{ form_start(form) }}
						{{ form_widget(form) }}
						{{ form_end(form) }}
					</div>
				</div><!-- panel -->
			</div>
			{% endif %}
{% endblock %}
{% block title %}事件管理{% endblock %}
{% block javascripts %}
{{ tinymce_init() }}
{{ parent() }}
<script>
	$('.preview').change(function(){
		var obj = $(this).parent('div').find('.img-preview');
		var file = this.files[0]; //选择上传的文件
		var r = new FileReader();
		r.readAsDataURL(file); //Base64
		$(r).load(function(){
				obj.html('<img src="'+ this.result +'" alt="" width="400" />');
		});
	})
</script>
{% endblock %}