{% extends 'AppBundle:admin:layout.html.twig' %}
{% block content %}
<div class="panel panel-default">
	<div class="panel-body">
		<div class="table-responsive">
			<!--<div id="table2_wrapper" class="dataTables_wrapper no-footer">
			<div class="dataTables_length" id="table2_length"></div>
			<div id="table2_filter" class="dataTables_filter"><a href="{{ url('admin_export') }}" class="label label-danger">导出中奖信息</a><label>Search:<input type="search" class="" placeholder="" aria-controls="table2"></label>--></div>
			<table id="table2" class="table table-striped dataTable no-footer" role="grid" aria-describedby="table2_info">
			<thead>
			 <tr role="row">
				<th tabindex="0" aria-controls="table2" rowspan="1" colspan="1" style="width: 40px;">ID</th>
				<th tabindex="0" aria-controls="table2" rowspan="1" colspan="1">名称</th>
				<th tabindex="0" aria-controls="table2" rowspan="1" colspan="1">类型</th>
				<th tabindex="0" aria-controls="table2" rowspan="1" colspan="1">地区</th>
				<th tabindex="0" aria-controls="table2" rowspan="1" colspan="1">城市</th>
				<th tabindex="0" aria-controls="table2" rowspan="1" colspan="1">面积</th>
				<th tabindex="0" aria-controls="table2" rowspan="1" colspan="1">面积描述</th>
				<th tabindex="0" aria-controls="table2" rowspan="1" colspan="1">描述</th>
				<th tabindex="0" aria-controls="table2" rowspan="1" colspan="1">缩略图</th>
				<th tabindex="0" aria-controls="table2" rowspan="1" colspan="1">地图</th>
				<th tabindex="0" aria-controls="table2" rowspan="1" colspan="1">地图X轴</th>
				<th tabindex="0" aria-controls="table2" rowspan="1" colspan="1">地图Y轴</th>
				<th tabindex="0" aria-controls="table2" rowspan="1" colspan="1">创建时间</th>
				<th tabindex="0" aria-controls="table2" rowspan="1" colspan="1">创建IP</th>
				<th tabindex="0" aria-controls="table2" rowspan="1" colspan="1" width="60">操作</th>
			</tr>
		 </thead>
		 <tbody>
		 {% for p in pagination %}
			<tr class="gradeA {% if loop.index is odd %} odd{% else %} even{% endif %}" role="row">
				<td>{{ p.id }}</td>
				<td>{{ p.title }}</td>
				<td>{{ p.type }}</td>
				<td>{{ p.district }}</td>
				<td>{{ p.city }}</td>
				<td>{{ p.area }}</td>
				<td>{{ p.areaDesc }}</td>
				<td>{{ p.storageDesc }}</td>
				<td><a href="/uploads/{{ p.imgUrl }}"><img src="/uploads/{{ p.imgUrl }}" style="max-width:100px;max-height:100px;" /></a></td>
				<td><a href="/uploads/{{ p.mapUrl }}"><img src="/uploads/{{ p.mapUrl }}" style="max-width:100px;max-height:100px;" /></a></td>
				<td>{{ p.posX }}</td>
				<td>{{ p.posY }}</td>
				<td>{{ p.createTime | date("Y-m-d H:i:s") }}</td>
				<td>{{ p.createIp }}</td>
				<td><a href="{{ url('admin_storage_edit',{id:p.id}) }}">编辑</a> <a href="{{ url('admin_storage_delete',{id:p.id}) }}" class="delete">删除</a></td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
<div class="dataTables_info" id="table2_info" role="status" aria-live="polite">共{{ pagination.getTotalItemCount }}条记录</div>
<div class="dataTables_paginate paging_full_numbers" id="table2_paginate">
{{ knp_pagination_render(pagination) }}
</div>
</div>
</div><!-- table-responsive -->

</div><!-- panel-body -->
</div>
{% endblock %}
{% block title %}仓库管理{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
	$(document).ready(function(){
		$('.delete').click(function(){
			var obj = $(this).parent('td').parent('tr');
			url = $(this).attr('href');
			if(confirm('删除操作无法撤销,是否继续?')){
				$.getJSON(url,function(json){
					if(json && json.ret == 0){
						obj.remove();
					}
					else{
						alert(json.msg);
					}
				})
			}
			
			return false;
		})
	})
</script>
{% endblock %}