{% extends 'AppBundle:admin:layout.html.twig' %}
{% block content %}
			{% if app.session.flashbag.has('success') is not empty %}
				{% for flashMessage in app.session.flashbag.get('success') %}
					<h2>{{ flashMessage | raw }}</h2>
				{% endfor %}
			{% else %}
			<div class="row">
				{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
				<div class="panel panel-default">
					 <div class="panel-body">
						{{ form_start(form) }}
						{{ form_widget(form) }}
						{{ form_end(form) }}
					</div>
				</div><!-- panel -->
			</div>
			{% endif %}
{% endblock %}
{% block title %}仓库管理{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/app/admin/js/datetimepicker.min.js') }}"></script>
<script>
	jQuery(document).ready(function(){
		$('.datepicker').datepicker({dateFormat:'yy-mm-dd'});
	})
</script>
{% endblock %}