{% extends 'AppBundle:default:layout.html.twig' %}
{% block content %}
    <img src="{{ asset('bundles/app/default/') }}images/topBar.jpg" class="dsb">

    <img src="{{ asset('bundles/app/default/') }}images/eventImg1.jpg" class="dsb">
    
    <div class="eventList">
        {% for event in events %}
        <div class="elLine">
            <a href="{{ url('_event',{id:event.id }) }}">
                <img src="{{ (asset('/uploads/')~storage.imgUrl) | imagine_filter('thumb3') }}" class="elImg">
                <div class="elRightTxt">
                    <table>
                        <tr>
                            <td><img src="{{ asset('bundles/app/default/') }}images/space.gif" width="1" height="135"></td>
                            <td class="elTitle" valign="middle">{{ event.title }}<br><span>{{ event.subTitle }}</span></td>
                        </tr>
                    </table>
                </div>
            </a>
        </div>
        {% endfor %}
        
    </div>
{% endblock %}
{% block title %} - 事件{% endblock %}