{% extends 'AppBundle:default:layout.html.twig' %}
{% block content %}
<img src="{{ asset('bundles/app/default/') }}images/topBar.jpg" class="dsb">

    <div class="topTitle">
        <div class="innerDiv">
            {{ storage.title }}
            <a href="javascript:void(0);" class="titleBack" onClick="history.go(-1);"><img src="{{ asset('bundles/app/default/') }}images/backImg.png"></a>
        </div>
    </div>
    
    <div class="mapBlock" id="mapBlock" style="position:relative;">
        <img src="{{ asset('uploads/') }}{{ storage.mapUrl }}" class="mapImg" id="mapImg" style="left:{{ -1*storage.posX }}px; top:{{ -1*storage.posY }}px; position:absolute;">
    </div>
</div>

<div class="mapNote">左右移动图片 查看附近交通</div>

<div class="bottomTool">
    <div class="innerDiv">
        <div class="bottomTxt"><a href="{{ url('_visit',{id:storage.id}) }}">预约参观</a></div>
        <a href="{{ url('_storage',{id:storage.id}) }}" class="bottomBtn1"><img src="{{ asset('bundles/app/default/') }}images/btn5.png"></a>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script>
//图片移动
var posX = 0, posY = 0, lastposX = 0, lastposY = 0, scale = 1, last_scale = 1, rotation = 0, last_rotation = 0;
var lock=false,slock=true;  

function move_picture() {
        if(!Hammer.HAS_TOUCHEVENTS && !Hammer.HAS_POINTEREVENTS) {
            Hammer.plugins.fakeMultitouch();
        }

        var hammertime = Hammer(document.getElementById('mapBlock'), {
            preventDefault      : true,
            transformMinScale   : 1,
            dragBlockHorizontal : true,
            dragBlockVertical   : true,
            dragMinDistance     : 0
         });
        
        var rect = document.getElementById('mapImg');

        hammertime.on('touch drag transform', function(ev) {
            if(lock){
                return false;
                }
        
            switch(ev.type) {
                case 'touch':
                    last_scale = scale;
                    lastposX=posX;
                    lastposY=posY
                break;

                case 'drag':
                    posX = lastposX+ev.gesture.deltaX;
                    posY = lastposY+ev.gesture.deltaY;
                    
                break;

                case 'transform':
                    rotation = last_rotation + ev.gesture.rotation;
                    scale = Math.max(0.5, Math.min(last_scale * ev.gesture.scale, 2));
                    
                break;
            }
                    var transform =
                    "translate(" + posX + "px," + posY + "px) " +
                    "scale(" + scale + "," + scale + ") " ;

            $('.mapImg').css({'transform':transform,'-webkit-transform':transform,'-moz-transform':transform});
            
        });
    }
    
$(document).ready(function(){
    move_picture();
    });
</script>
{% endblock %}