{% extends 'AppBundle:default:layout.html.twig' %}
{% block content %}
  <img src="{{ asset('bundles/app/default/') }}images/topBar.jpg" class="dsb">

    <div class="topTitle">
        <div class="innerDiv">
            {{ storage.title }}
            <a href="javascript:void(0);" class="titleBack" onClick="history.go(-1);"><img src="{{ asset('bundles/app/default/') }}images/backImg.png"></a>
        </div>
    </div>
        <img src="{{ (asset('/uploads/')~storage.imgUrl) | imagine_filter('thumb1') }}" class="dsb" style="max-width:640px;">
    <div class="loftIntro">
        <div class="liLine">
            <div class="liTitle">物业类型</div>
            <div class="liTxt">{{ storage.type }}</div>
            <div class="clear"></div>
        </div>
        <div class="liLine">
            <div class="liTitle">地理位置</div>
            <div class="liTxt">中国{{ storage.city }}</div>
            <div class="clear"></div>
        </div>
        <div class="liLine">
            <div class="liTitle">面积</div>
            <div class="liTxt">{{ storage.areaDesc }}</div>
            <div class="clear"></div>
        </div>
        <div class="liLine2">
            {{ storage.storageDesc|raw }}
            
        </div>
    </div>
</div>

<div class="bottomTool">
    <div class="innerDiv">
        <div class="bottomTxt"><a href="{{ url('_visit',{id:storage.id}) }}">预约参观</a></div>
        <a href="{{ url('_map',{id:storage.id}) }}" class="bottomBtn1"><img src="{{ asset('bundles/app/default/') }}images/btn4.png"></a>
    </div>
{% endblock %}