{% extends 'AppBundle:default:layout.html.twig' %}
{% block content %}
	<img src="{{ asset('bundles/app/default/') }}images/topBar.jpg" class="dsb">

	<div class="visitTitle">选择需要参观的仓库</div>
	<div class="selectLine">
		<select class="vSel1" id="district">
			<option value="">选择地区</option>
			<option value="华东">华东</option>
			<option value="华北">华北</option>
			<option value="华南">华南</option>
			<option value="华西">华西</option>
		</select>
	</div>
	<div class="selectLine">
		<select class="vSel2" id="city">
			<option value="">选择城市</option>
		</select>
	</div>
	<div class="selectLine">
		<select class="vSel3" id="storage">
			<option value="">仓库选择</option>
		</select>
	</div>
	
	<div class="visitTitle">填写个人信息</div>
	<div class="visitInfoLine">
		姓 名<br><br><input class="vInput1" type="text" maxlength="20">
	</div>
	
	<div class="visitInfoLine">
		电 话<br><br><input class="vInput2" type="tel" maxlength="11">
	</div>
	
	<div class="visitInfoLine">
		公司名称<br><br><input class="vInput3" type="text" maxlength="30">
	</div>
	
	<div class="visitBtns">
		<a href="javascript:void(0);" onClick="submitVisitInfo();"><img src="{{ asset('bundles/app/default/') }}images/btn6.png"></a>
	</div>
{% endblock %}

{% block javascripts %}
	<script>
	$('#district').change(function(){
      var district = $('#district').val();
      $('#city').empty().html('<option value="">选择城市</option>');
      var url = '{{ url("_city") }}';
      var html = '';
      $.getJSON(url, {district:district}, function(json){
          if(json && json.ret == 0){
              $.each(json.data,function(key,value){
                  html += '<option value="'+ value +'">'+ value +'</option>';
              })
              $('#city').append(html);
          }
          else{
              alert('获取城市失败~')
          }
      })
  })
  $('#city').change(function(){
  	var city = $('#city').val();
  	$('#storage').empty().html('<option value="">仓库选择</option>');
      var url = '{{ url("_storage_list_json") }}';
      var html = '';
      $.getJSON(url, {city:city}, function(json){
          if(json && json.ret == 0){
              $.each(json.data,function(i){
                  html += '<option value="'+ json.data[i].id +'">'+ json.data[i].title +'</option>';
              })
              $('#storage').append(html);
          }
          else{
              alert('获取城市失败~')
          }
      })
  })
		function submitVisitInfo(){
			var vSel1=$.trim($('.vSel1').val());
			var vSel2=$.trim($('.vSel2').val());
			var vSel3=$.trim($('.vSel3').val());
			var vName=$.trim($('.vInput1').val());
			var vTel=$.trim($('.vInput2').val());
			var vComp=$.trim($('.vInput3').val());

			if(vSel1==''||vSel1=='选择地区'){
				alert('请选择地区');
				return false;
			}
			else if(vSel2==''||vSel2=='选择城市'){
				alert('请选择城市');
				return false;
			}
			else if(vSel3==''||vSel3=='仓库选择'){
				alert('请选择仓库');
				return false;
			}
			else if(vName==''){
				alert('请输入姓名');
				return false;
			}
			else if(vTel==''){
				alert('请输入电话');
				return false;
			}
			else if(vComp==''){
				alert('请输入公司名称');
				return false;
			}
			else{
				var url = '{{ url("_visit_post") }}';
				var data = {'storage':vSel3,'username':vName,'mobile':vTel,'company':vComp};
				$.post(url,data,function(json){
					if(json && json.ret == 0){
						alert('提交成功');
						window.location.href= '{{ url("_index") }}';
					}
					else{
						alert(json.msg);
					}
				},"JSON");
				//alert('提交成功');
				//window.location.href='loftSearch.html';
			}
		}
	</script>
{% endblock %}